.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.form__field:required {
    border-color: #777;
}

.form__field:invalid {
    background-color: hsl(0, 86%, 95%);
}

.form__buttonDane {
    width: 100%;
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__buttonDane:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__buttonDane:active {
    background-color: hsl(180, 100%, 35%);
}

.form__fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0px;
}

.form__legend {
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
}